body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: rgb(216, 171, 228);
}
.login-box {
    background-color: #fff;
    padding: 30px;
    border-radius: 35px;
    box-shadow: 0 0 10px  blueviolet;
}
.login-box h2 {
    margin-bottom: 20px;
    text-align: center;
}
.login-box .input-box {
    margin-bottom: 15px;
}
.login-box .input-box label {
    display: block;
    margin-bottom: 5px;
}
.login-box .input-box input {
    width: 95%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
}
.login-box .input-box input[type="submit"] {
    background-color: rgb(216, 171, 228);
    color: #fff;
    border: none;
    cursor: pointer;
}
.login-box .input-box input[type="submit"]:hover {
    background-color:  blueviolet;
}